<div>
<h1 style="text-align:left;float:left;">Tags Index</h1>
<br>
<!-- WHERE IS THIS GOING TO APPPEAR? -->
<div style="float:right;">
  <%= button_to 'New TAG', new_tag_path %>
</div>
</div>

<hr style="clear:both;"/>

<div class="TABLE2" >
<table>
  <tbody>
      <td>Name</td>
      <td>Tag Category</td>
      <td>Delete</td>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to "#{tag.name}", tag %></td>
        <td><%= "#{tag.tag_category.try :name}" %></td>
        <td><button><%= link_to "Obliterate", tag, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
